<nav class="navbar navbar-expand-lg" id="navPrincipal">
  <a class="navbar-brand text-white">Encomiendas</a>
  <div class="collapse navbar-collapse flex-row-reverse mr-3" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link text-white " routerLink = "">Entrada de Paquetes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white " routerLink = "">Reporte Gerencial<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administar Datos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="Clientes" >Clientes</a>
          <a class="dropdown-item" routerLink="Rutas" >Rutas</a>
          <a class="dropdown-item" routerLink="Sucursales" >Sucursales</a>
          <a class="dropdown-item" routerLink="Paquetes" >Paquetes</a>
          <a class="dropdown-item" routerLink="OrdendesDeEnvio" >Ordenes de Envio</a>
          <a class="dropdown-item"routerLink="Categorias" >Categorias</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
