<div class="container mt-5 mb-5">
  <div class="card" id="cardGeneral">
    <div class="card-header text-center">
      <h1><strong>Clientes</strong></h1>
    </div>
    <div class="card-body">
      <div class="form-row justify-content-center">
            <button class="btn btn-primary" name="button">Registar Cliente</button>
      </div>
      <div class="card mt-3">
        <div class="table-responsive">
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
              <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dni</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let cliente of clientes">
                <td><strong>{{cliente.idCliente}}</strong></td>
                <td><strong>{{cliente.nombres}}</strong></td>
                <td><strong>{{cliente.apellidos}}</strong></td>
                <td><strong>{{cliente.dni}}</strong></td>
                <td><strong>{{cliente.correo}}</strong></td>
                <td><strong>{{cliente.telefono}}</strong></td>
                <td><button class="btn btn-primary" name="button">Editar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
